.footer-disclaimer{
    background-color: #6f7a8f;
    min-height: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    font-size: calc(3px + 1vmin);
    font-weight: bold;
    color: white;
  }
  